<!DOCTYPE html>
<html>
<head>
  <title>🔥Dragons rule🔥</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <style>
    body {
      background-color: #5b09f4;
    }
    button {
      width: 50%;
      margin: 10px;
    }
  </style>
</head>
<body>
  <div class="image-container">
    <button onclick="document.location='/'">Home</button>
    <img src="/static/images/LabeZpevnik/LabeZpevnik-005.png" id="page" class="page" alt="sad no page" width="1167" height="1653"/>
    <button onclick="document.location='/'">Home</button>
    <img src="/static/images/LabeZpevnik/LabeZpevnik-006.png" id="page" class="page" alt="sad no page" width="1167" height="1653"/>
    <button onclick="document.location='/'">Home</button>
    <img src="/static/images/LabeZpevnik/LabeZpevnik-007.png" id="page" class="page" alt="sad no page" width="1167" height="1653"/>
    <button onclick="document.location='/'">Home</button>
    <img src="/static/images/LabeZpevnik/LabeZpevnik-008.png" id="page" class="page" alt="sad no page" width="1167" height="1653"/>
    <button onclick="document.location='/'">Home</button>
    <img src="/static/images/LabeZpevnik/LabeZpevnik-009.png" id="page" class="page" alt="sad no page" width="1167" height="1653"/>
    <button onclick="document.location='/'">Home</button>
    <img src="/static/images/LabeZpevnik/LabeZpevnik-010.png" id="page" class="page" alt="sad no page" width="1167" height="1653"/>
    <button onclick="document.location='/'">Home</button>
    <img src="/static/images/LabeZpevnik/LabeZpevnik-011.png" id="page" class="page" alt="sad no page" width="1167" height="1653"/>
    <button onclick="document.location='/'">Home</button>
    <img src="/static/images/LabeZpevnik/LabeZpevnik-012.png" id="page" class="page" alt="sad no page" width="1167" height="1653"/>
    <button onclick="document.location='/'">Home</button>
    <img src="/static/images/LabeZpevnik/LabeZpevnik-013.png" id="page" class="page" alt="sad no page" width="1167" height="1653"/>
    <a href="/back">back</a>
    <img src="/static/images/LabeZpevnik/LabeZpevnik-014.png" id="page" class="page" alt="sad no page" width="1167" height="1653"/>
    <button onclick="document.location='/'">Home</button>
    <img src="/static/images/LabeZpevnik/LabeZpevnik-015.png" id="page" class="page" alt="sad no page" width="1167" height="1653"/>
    <button onclick="document.location='/'">Home</button>
    <img src="/static/images/LabeZpevnik/LabeZpevnik-016.png" id="page" class="page" alt="sad no page" width="1167" height="1653"/>
    <button onclick="document.location='/'">Home</button>
  </div>
  <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>